@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Merriweather+Sans:wght@300&display=swap');

:root {
    --primary-color: #ade8f4;
    --secondary-color: #03045e;
    --accent1-color: #0077b6;
    --accent2-color: #caf0f8;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Kanit', serif;
    --nav-background-color: #caf0f8;
    --nav-link-color: #caf0f8;
    --nav-hover-link-color: #caf0f8;
    --nav-hover-background-color: #caf0f8;
}

main {
    max-width: 840px;
}

* {
    margin-top: 10px;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: relative;
}

h1 {
    position: absolute;
}

section {
    position: relative;
}

article {
    position: absolute;
}

p {
    padding: 25px;
}

.img-container {
    background-image: url(../images/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 30%;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
